header {
	// @include outer-container;
	height: 80vh;
	overflow: hidden;

	.hero {  
	  $base-border-radius: 3px !default;
	  $action-color: #477DCA !default;
	  $large-screen: em(860) !default;
	  $hero-background-top: #ccc; 
	  $hero-background-bottom: #fff;
	  $hero-color: white;
	  $gradient-angle: 10deg;
	  $hero-image: '../img/brushHome_header-bg.JPG';

	  @include background(url($hero-image), linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top scroll);
	  background-color: #324766;
	  background-position: top;
	  background-repeat: no-repeat;
	  background-size: cover;
	  padding-bottom: 3em;

	  position: relative;
	  height: 100%;


	  .hero-inner {
			@include transform(translate(-50%, -50%));
			width: 80%;
			left: 50%;
			margin: auto;
			position: absolute;
			text-align: center;
			top: 50%;
			z-index: 999;
			line-height: .5;
			font-size: 1.3em;


			.header-logo {
		  	@include span-columns(6);

		  	img {
		  		width: 80%;
		  		float: right;
		  	}
		  }

		  .tagline {
		  	@include span-columns(6);
		  	text-align: left;
		  	white-space: nowrap;
		  	position: relative;
		  	top: -10px;

		  	h1 {
		  		font-weight: 300;

		  		&.bold {
		  			font-weight: 500;
		  		}

		  		& span {
		  			display: block;
		  			font-size: 1.1em;
		  		}
		  	}
		  }

	    button {
	      @include button(flat, $action-color);
	      padding: 0.7em 1em;
	      margin-top: 1em;
	    }
	  }
	}
}
















