.line-behind-text {
    border-bottom: 1px solid #cacaca;
    text-align: center;
    width: 80%;
    margin: 0 auto 2.5em;


    h2 {
        background: #fff;
        color: #808080;
        display: inline-block;
        font-size: 1em;
        font-weight: 500;
        padding: 0 10px;
        position: relative;
        text-transform: uppercase;
        top: 34px;
        margin-bottom: 1.3em;
    }
}


.main {
  @include outer-container;

  .row {
    @include span-columns(12);
    // @include shift(1);

    h2.brush-machines--section2-intro {

    }
  }
}