.section-header {

    margin: 0 auto;
    text-align: center;


    h2 {
        width: 70%;
        background: $color-7;
        color: #fff;
        display: block;
        font-size: 2em;
        font-weight: 300;
        margin: -30px auto 0;
        padding: .5em 1em;
        position: relative;
        box-shadow: 0 .1em white;
        border-radius: 10px;
        text-align: center;
    }

    p {
        font-family: $sansserif;
        color: #666;
        font-size: 1.9rem;
        margin: 2em auto 1em;
        line-height: 1.6;
        width: 90%;
    }
}
.main {
  // @include outer-container;
  transform: translateY(2em);
  padding-bottom: 70px;

  .row {
    @include span-columns(12);

    h2.brush-machines--section2-intro {

    }
  }
}